
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   user-select: none;
}
.container{
    height: 100vh;
    width:100vw;
    background: linear-gradient(to right ,#ac0cc9,#8ecdff);
    position: relative;
    overflow: hidden;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    position: absolute;
    
}
.nav-list ul{
    display:  inline-block;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 18px;
    margin: 15px;
    color:white;
    position: relative;
}
.nav-list{
    margin-right: 100px;
    
}
 .nav-list ul::before{
    content: '';
    position: absolute;
    height: 3px ;
    background-color:white;
    bottom: -5px;
    left: 0;
    cursor: pointer;
    width: 100%;
    transition: transform 1s ease-in-out;
    transform: scale(0);
    transform-origin: right;
}
.nav-list ul:hover::before{
transform: scale(1);
transform-origin: left;
}
.logo{
    margin-left: 20px;
    margin-bottom: 30px;
   
}
.logo img{
    height: 50px;
    width: 230px;
    object-fit: cover;
}
.information{
    height: 1000px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle{
    height: 800px;
    width: 800px;
    position: absolute;
    border-radius: 50%;
    /* top: 0;
    left: 0; */
    z-index: -1;
    transform: rotate(0deg);
    /* background-color: red; */
    transition: 2s ease-in-out;
}
.features{   
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.features img{
    width: 80px;
}
.features h2,h4{
    color :white;
    text-align: center;
    gap: 5px;
}
.features h2{
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.one{
    top: 350px;
    right: 50px;
}
.two{
    top: 50px;
    left: 360px;
    transform: rotate(-90deg);
}
.three{
   bottom: 350px;
   left: -10px;
   transform: rotate(-180deg);
}
.four{
    bottom: 10px;
    right: 260px;
    transform: rotate(-270deg);
}
.mobile{
    position: absolute;
    /* left:30%;
    top: 50%;
    transform: translateY(-70%); */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    object-fit :cover;
    left: 280px;
    
}
.mobile img{
    height: 550px;
    width: 250px;
    object-fit: cover;
}
.controls{
    position:absolute;
    top:50%;
    right:10%;
    transform:translateY(-50px);
}
.controls h2{
    color: white;
    text-align: center;
    font-size:24px;
    text-transform: uppercase; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#down-arrow{
    transform:rotate(180deg);
    text-align: center;
}
#up-arrow{ 
    cursor: pointer;
    text-align: center;
}
ion-icon{
   height:60px;
   width: 60px;
   color: white;
}
.overlay{
    height:0;
    width:0;
    border-top: 400px solid white;
    border-left: 400px solid white;
    border-right: 400px solid transparent;
    border-bottom: 400px solid white;
    position: absolute;
    z-index: -1;
    left: 0;
}